/*Home*/
* {
	font-family: helvetica;
}
.cine{
	background-color: black;
}
.cine h1{
	color: white;
	text-align: center;
}
.pelis{
	background-color: #ff4081;
}
.container-peli{
	border-radius: 50%;
	display: inline-block;
	padding: 10px;
	margin-top: 25px;
	margin-right: 10px;
	text-align: center;
}
.container-peli:hover{
	opacity: 0.5;
}
h3 {
	text-align: center;
	color: white;
}
.container-peli img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
/*Fin*/

/*Batman vs Superman*/
.batman-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.batman-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.batman-actors img:hover{
	opacity: 0.5;
}
.batman-actors h4{
	font-size: 30px;
	color: white;
}
#text-batman{
	color: white;
}
#h2-batman{
	color: white;
}
.background-batman{
	background-color: #283593;
}
/*Fin B v/s S*/

/*Deadpool*/
.deadpool-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.deadpool-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.deadpool-actors img:hover{
	opacity: 0.5;
}
.deadpool-actors h4{
	font-size: 30px;
	color: white;
}
#text-deadpool{
	color: white;
}
#h2-deadpool{
	color: white;
}
.background-deadpool{
	background-color: #b71c1c;
}
/*Fin Deadpool*/

/*Spiderman*/
.spiderman-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.spiderman-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.spiderman-actors img:hover{
	opacity: 0.5;
}
.spiderman-actors h4{
	font-size: 30px;
	color: white;
}
#text-spiderman{
	color: white;
}
#h2-spiderman{
	color: white;
}
.background-spiderman{
	background-color: #0d47a1;
}
/*Fin Spiderman*/

/*Todo poderoso*/
.todo-poderoso-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.todo-poderoso-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.todo-poderoso-actors img:hover{
	opacity: 0.5;
}
.todo-poderoso-actors h4{
	font-size: 30px;
	color: white;
}
#text-todo-poderoso{
	color: white;
}
#h2-todo-poderoso{
	color: white;
}
.background-todo-poderoso{
	background-color: #80deea;
}
/*Fin Todo poderoso*/

/*Las rubias*/
.white-chicks-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.white-chicks-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.white-chicks-actors img:hover{
	opacity: 0.5;
}
.white-chicks-actors h4{
	font-size: 30px;
	color: white;
}
#text-white-chicks{
	color: white;
}
#h2-white-chicks{
	color: white;
}
.background-white-chicks{
	background-color: #80deea;
}
/*Fin Las rubias*/

/*Monsters, inc*/
.monsters-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.monsters-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.monsters-actors img:hover{
	opacity: 0.5;
}
.monsters-actors h4{
	font-size: 30px;
	color: white;
}
#text-monsters{
	color: white;
}
#h2-monsters{
	color: white;
}
.background-monsters{
	background-color: #0097a7;
}
/*Fin Monsters, inc*/

/*Shrek*/
.shrek-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.shrek-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.shrek-actors img:hover{
	opacity: 0.5;
}
.shrek-actors h4{
	font-size: 30px;
	color: white;
}
#text-shrek{
	color: white;
}
#h2-shrek{
	color: white;
}
.background-shrek{
	background-color: #0097a7;
}
/*Fin Shrek*/

/*Toy Story*/
.t-story-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.t-story-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.t-story-actors img:hover{
	opacity: 0.5;
}
.t-story-actors h4{
	font-size: 30px;
	color: white;
}
#text-t-story{
	color: white;
}
#h2-t-story{
	color: white;
}
.background-t-story{
	background-color: #0097a7;
}
/*Fin Toy Story*/

/*Beso Francés*/
.b-frances-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.b-frances-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.b-frances-actors img:hover{
	opacity: 0.5;
}
.b-frances-actors h4{
	font-size: 30px;
	color: white;
}
#text-b-frances{
	color: white;
}
#h2-b-frances{
	color: white;
}
.background-b-frances{
	background-color: #b71c1c;
}
/*Fin Beso Francés*/

/*PD:Te amo*/
.pd-teamo-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.pd-teamo-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.pd-teamo-actors img:hover{
	opacity: 0.5;
}
.pd-teamo-actors h4{
	font-size: 30px;
	color: white;
}
#text-pd-teamo{
	color: white;
}
#h2-pd-teamo{
	color: white;
}
.background-pd-teamo{
	background-color: #b71c1c;
}
/*Fin PD:Te amo*/

/*El sexto sentido*/
.6sentido-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.6sentido-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.6sentido-actors img:hover{
	opacity: 0.5;
}
.6sentido-actors h4{
	font-size: 30px;
	color: white;
}
#text-6sentido{
	color: white;
}
#h2-6sentido{
	color: white;
}
.background-6sentido{
	background-color: #4db6ac;
}
/*Fin El sexto sentido*/

/*spotlight*/
.spotlight-p p{
	text-align: left;
	font-size: 18px;
	color: white;
}
.spotlight-actors img{
	width: 150px;
	height: 180px;
	border-radius: 50px;
}
.spotlight-actors img:hover{
	opacity: 0.5;
}
.spotlight-actors h4{
	font-size: 30px;
	color: white;
}
#text-spotlight{
	color: white;
}
#h2-spotlight{
	color: white;
}
.background-spotlight{
	background-color: #4db6ac;
}
/*Fin spotlight*/